/* Stats.css */
.whole-anime {
  z-index: 100;
}
.stats-container {
  color: white;
  margin: 5rem 0;
  background-color: #1a202c; /* bg-gray-900 */
  padding: 2.5rem; /* p-10 */
  border-radius: 9999px; /* rounded-full */
  max-width: 1200px; /* container width */
  margin-left: auto;
  margin-right: auto;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem; /* gap-8 */
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.countdown-item {
  font-weight: bold;
  text-align: center;
}

.countdown-number {
  font-size: 5rem; /* text-8xl */
}

.countdown-label {
  font-weight: bold;
}
